body {
  margin: 0;
  font-family: 'Economica',
    serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: gray;
  background: url('./assets/img/vineyard-green-leaves.jpeg') no-repeat center fixed;
  background-size: cover;

}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
